.button {
    padding: 9px 24px;
}
.navbar-brand-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container{
    width: 90vw;
    height: 100px;
    background-color: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #8F8F8F;
    margin: 40px;

    .rectangle{
        width: 90vw;
        height: 24px;
        font-size: 14px;
        color: #FFFF;
        #search{
            margin-left: 10px;
        }
        }
        .input{
            width: 70vw;
            height: 48px;
            margin-left: 15px;
            margin-top: 10px;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #FFFF, inset 2px 2px 0 0 #000000;
        }
        .rectangle-copy{
            width: 102px;
            height: 36px;
            background-color: #B4B4B4;
            font-family: 'Chakra Petch', sans-serif;
            font-size: 16px;
            line-height: 18px;
            color: #8F8F8F;
        }
        .loupe{
            width: 16px;
            height: auto;
            color: #8F8F8F;
        }
}