.dark {
  background-color: #110038;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  .bar {
    padding-left: 7px;
    padding-top: 4px;
    width: 1438px;
    height: 23px;
    font-family: "Chakra Petch", sans-serif;
    font-size: 12px;
    color: white;
    background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
    box-shadow: 0 1px 0 0 #110038;
  }

  .navbar-brand-image {
    background-image: url("/assets/gifOF_logo_dark.png");
    background: no-repeat;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 100px;
  }

  li {
    list-style: none;
  }

  .button-create {
    width: 144px;
    height: 36px;
    background: #ee3efe;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1rem;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    color: #110038;
    &:hover {
      background: #ce36db;
    }
  }

  .button-choose {
    width: 144px;
    height: 36px;
    background: #ee3efe;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1rem;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    color: #110038;

    &:hover {
      background: #ce36db;
    }
  }
  .choose-drop-down-list {
    width: 36px;
    height: 36px;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    color: #110038;
    &:hover {
      background: #ce36db;
    }
  }
}

.container {
  .container_search {
    background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
  }
  .search_button {
    &:hover {
      color: #ffffff;
      background: #ee3efe;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
    }
  }
}

.suggestion {
  width: 90vw;
  height: 32px;
  background: #fffafe;
  border: 1px solid #2e32fb;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  margin: 40px;
}

.trending_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gif {
  width: 288px;
  height: 313px;
  background-color: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
  margin: 10px;
  .container_gif {
    width: 288px;
    height: 24px;
    background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
  }
  .btn_close {
    margin-left: 260px;
  }
  .img_gif {
    width: 288px;
    height: 280px;
    position: absolute;
  }
  .watch_more {
    width: 81px;
    height: 34px;
    font-family: "Chakra Petch", sans-serif;
    color: #ffffff;
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    position: relative;
    z-index: 1;
    top: 240px;
    left: 15px;
  }
}
