.light {
  background-color: #fff4fd;
  color: black;
  font-size: 1rem;
  .bar {
    padding-left: 7px;
    padding-top: 4px;
    width: 100vw;
    height: 23px;
    font-size: 12px;
    color: white;
    background: linear-gradient(left, #4180f6 0%, #f7c9f3 100%);
    box-shadow: 0 1px 0 0 #110038;
  }

  .navbar_brand_image {
    #logo_dark {
      display: none;
    }
    background: no-repeat;
  }
  #logo_dark1 {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100px;
  }

  li {
    list-style: none;
  }

  .button_create {
    font-size: 1rem;
    position: relative;
    top: 7px;
  }

  #a_create {
    text-decoration: none;
    text-align: center;
    width: 144px;
    height: 36px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    color: #110038;
    margin-right: 14px;
    &:hover {
      background: #e6bbe2;
    }
  }

  .container_create {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .button_choose {
    width: 131px;
    height: 36px;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    &:hover {
      background: #e6bbe2;
    }
  }
  .choose_dropdown_list {
    width: 36px;
    height: 36px;
    background-color: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    color: #110038;
    &:hover {
      background: #e6bbe2;
    }
  }
}

#mys_guifos_link {
  width: 76px;
  height: 18px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  text-decoration: none;
  margin-left: 15px;
}

.container {
  .container_search {
    background: linear-gradient(left, #4180f6 0%, #f7c9f3 100%);
  }
  .search_button {
    &:hover {
      color: #110038;
      background: #997d97;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    }
  }
}

.container_suggestion {
  display: flex;
  justify-content: center;
}

.suggestion {
  width: 90%;
  height: 32px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  margin: 40px;
  p {
    margin: 5px 10px 5px;
  }
}

.trending_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 5%;
  width: 90%;

  img:hover {
    border-style: dotted;
    border-width: 1px;
  }

  img:hover ~ figcaption {
    position: absolute;
    z-index: 500;
    width: 286px;
    height: 25px;
    background: linear-gradient(
      90deg,
      rgba(65, 128, 246, 1) 0%,
      rgba(247, 201, 243, 1) 100%
    );
    margin-top: -38px;
    margin-left: 10px;
  }

  p {
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}
.gif {
  width: 280px;
  height: 304px;
  margin-bottom: 10px;
  background-color: #b4b4b4;
  box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
  .container_gif {
    width: 100%;
    height: 24px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  }
  p {
    color: white;
  }
  .btn_close {
    margin-left: 260px;
    position: relative;
    bottom: 15px;
  }
  .img_gif {
    width: 280px;
    height: 280px;
    position: absolute;
    &:hover {
      border-style: dotted;
      border-width: 1px;
    }
  }
  .watch_more1,
  .watch_more2,
  .watch_more3,
  .watch_more4 {
    position: absolute;
    width: 81px;
    height: 34px;
    color: #ffffff;
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    margin-left: 15px;
    margin-top: 245px;
    z-index: 1000;

    &:hover {
      cursor: pointer;
    }
  }
}
