.dark {
  background-color: #110038;
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
}

.dark .bar {
  padding-left: 7px;
  padding-top: 4px;
  width: 1438px;
  height: 23px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3efe));
  background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.dark .navbar-brand-image {
  background-image: url("/assets/gifOF_logo_dark.png");
  background: no-repeat;
}

.dark ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 100px;
}

.dark li {
  list-style: none;
}

.dark .button-create {
  width: 144px;
  height: 36px;
  background: #ee3efe;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}

.dark .button-create:hover {
  background: #ce36db;
}

.dark .button-choose {
  width: 144px;
  height: 36px;
  background: #ee3efe;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}

.dark .button-choose:hover {
  background: #ce36db;
}

.dark .choose-drop-down-list {
  width: 36px;
  height: 36px;
  background: #ee3efe;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}

.dark .choose-drop-down-list:hover {
  background: #ce36db;
}

.container .container_search {
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3efe));
  background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
}

.container .search_button:hover {
  color: #ffffff;
  background: #ee3efe;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.suggestion {
  width: 90vw;
  height: 32px;
  background: #fffafe;
  border: 1px solid #2e32fb;
  -webkit-box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #110038;
  margin: 40px;
}

.trending_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gif {
  width: 288px;
  height: 313px;
  background-color: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
  margin: 10px;
}

.gif .container_gif {
  width: 288px;
  height: 24px;
  background: -webkit-gradient(linear, left top, right top, from(#2e32fb), to(#ee3efe));
  background: linear-gradient(left, #2e32fb 0%, #ee3efe 100%);
}

.gif .btn_close {
  margin-left: 260px;
}

.gif .img_gif {
  width: 288px;
  height: 280px;
  position: absolute;
}

.gif .watch_more {
  width: 81px;
  height: 34px;
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  position: relative;
  z-index: 1;
  top: 240px;
  left: 15px;
}

.light {
  background-color: #fff4fd;
  color: black;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
}

.light .bar {
  padding-left: 7px;
  padding-top: 4px;
  width: 100vw;
  height: 23px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#4180f6), to(#f7c9f3));
  background: linear-gradient(left, #4180f6 0%, #f7c9f3 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.light ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
  height: 100px;
}

.light li {
  list-style: none;
}

.light .button_create {
  width: 144px;
  height: 36px;
  background: #f7c9f3;
  border: 1px solid #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}

.light .button_create:hover {
  background: #e6bbe2;
}

.light .button_choose {
  width: 144px;
  height: 36px;
  background: #f7c9f3;
  border: 1px solid #110038;
  font-family: "Chakra Petch", sans-serif;
  font-size: 1rem;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}

.light .button_choose:hover {
  background: #e6bbe2;
}

.light .choose_dropdown_list {
  width: 36px;
  height: 36px;
  background-color: #f7c9f3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #110038;
}

.light .choose_dropdown_list:hover {
  background: #e6bbe2;
}

.container .container_search {
  background: -webkit-gradient(linear, left top, right top, from(#4180f6), to(#f7c9f3));
  background: linear-gradient(left, #4180f6 0%, #f7c9f3 100%);
}

.container .search_button:hover {
  color: #110038;
  background: #997d97;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
          box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.suggestion {
  width: 90vw;
  height: 32px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  margin: 40px;
}

.trending_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gif {
  width: 288px;
  height: 313px;
  background-color: #b4b4b4;
  -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
  margin: 10px;
}

.gif .container_gif {
  width: 288px;
  height: 24px;
  background: -webkit-gradient(linear, left top, right top, from(#4180f6), to(#f7c9f3));
  background: linear-gradient(left, #4180f6 0%, #f7c9f3 100%);
}

.gif p {
  color: white;
}

.gif .btn_close {
  margin-left: 260px;
}

.gif .img_gif {
  width: 288px;
  height: 280px;
  position: absolute;
}

.gif .watch_more {
  width: 81px;
  height: 34px;
  font-family: "Chakra Petch", sans-serif;
  color: #ffffff;
  background: #4180f6;
  border: 1px solid #4c2f99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
  position: relative;
  z-index: 1;
  top: 240px;
  left: 15px;
}

#search_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.button {
  padding: 9px 24px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 180px;
  height: 110px;
  right: 0px;
  z-index: 1;
}

.dropdown_content a {
  width: 120px;
  height: 15px;
  color: black;
  background-color: #fcfbffde;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #a8a7a7;
          box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #a8a7a7;
  padding: 12px 20px;
  margin: 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #4c49ffde;
  color: white;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #8F8F8F;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.navbar_brand_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li p {
  margin: 10px;
}

.container {
  width: 90vw;
  height: 100px;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #8F8F8F;
          box-shadow: inset 2px 2px 0 0 #FFFF, inset -2px -2px 0 0 #8F8F8F;
  margin: 40px;
}

.container .container_search {
  width: 90vw;
  height: 24px;
  font-size: 14px;
  color: #FFFF;
}

.container .container_search #search {
  margin-left: 10px;
}

.container .input {
  width: 80vw;
  height: 48px;
  margin-left: 15px;
  margin-top: 10px;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #FFFF, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #FFFF, inset 2px 2px 0 0 #000000;
}

.container input[type="text"] {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.container .search_button {
  width: 102px;
  height: 36px;
  background-color: #B4B4B4;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #8F8F8F;
}

.container .loupe {
  width: 16px;
  height: auto;
  color: #8F8F8F;
}

* {
  margin: 0;
  padding: 0;
}

* body {
  background-color: #E6E6E6;
}

* html {
  font-size: 16px;
}

.logo {
  margin: 50px 0px 0px 100px;
}

.logo .arrow {
  margin-bottom: 10px;
}

.brand_message {
  width: 500px;
  height: 23px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 12px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#4180f6), to(#f7c9f3));
  background: linear-gradient(left, #4180f6 0%, #f7c9f3 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.title_message {
  margin-left: 5px;
}

.container_pop_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pop_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  height: 300px;
  margin: 100px;
  background-color: #b4b4b4d3;
  -webkit-box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
          box-shadow: inset -2px -2px 0 0 #5c5c5c, inset 2px 2px 0 0 #ffffff;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info .img_info {
  width: 40px;
  height: 30px;
  padding: 18px 0px 0px 13px;
}

.text_info {
  font-size: 12px;
  font-weight: 100;
  margin: 20px 0px 0px 20px;
}

.button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: #f7c9f39a;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35vw;
  height: 50px;
}

.container_text_my_guifos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_my_guifos {
  width: 80vw;
}
/*# sourceMappingURL=index.css.map */